body {
    /* background-color: lightgrey; */
    /*color: red;*/
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid gold;
    font-size: medium;
    color: red;
}

#imageitem {
  background-image: url("KaizenShotokanKarateLogo.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  position: absolute;
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: 20px;
}

.header {
    /* border: 2px solid purple; 
    background-color: #ccc;*/
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* .watermark {
    /* opacity: 0.2;
    margin: auto; */
    /* background-image: url(/assets/images/Kaizen\ Shotokan\ Karate\ Logo.jpg);
} */ 

h1 {
    font-size: 750%;
}

.contactinfo {
    border: 2px solid greenyellow;
    color: grey
}

/* body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #d21034;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  } */
  